
.hidden {
  display: none;
}

#spacer {
  display: none;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  font-size: 1.5em;
}

#start {
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 14pt;
  margin: 10px auto;
}

.center-block {
  margin: 0 auto;
}

#player {
  color: black;
  font-size: 2em;
  text-align: center;
}

#gameboard {
  width:600px;
  height:600px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer li {
  list-style-type: none;
}

.square {
  width: 200px;
  height: 200px;
  float: left;
  background-color: rgba(142, 68, 173,1.0);
}
.square:hover {
  background-color: rgba(155, 89, 182,1.0);
}
/*


footer ul {
  height: 50px;
  width: 600px;
  margin: 0px auto;
  padding: 10px 33%;
  font-family: helvetica;
  font-size: 20pt;
  float: none;
}

footer ul li {
  display: inline;
  float: none;
  list-style-type: none;
  padding: 0px 10px;
  color: rgba(236, 240, 241,1.0);
}

footer ul li :hover {
  background-color: rgba(192, 57, 43,.75 );
}

a {
  color: rgba(236, 240, 241,1.0);
  text-decoration: none;
}
*/
.marker {
  width: 200px;
  height: 200px;
  margin: 10px auto;

}
.x {
  background-color: rgba(22, 160, 133,1.0)
}

.o {
  background-color: rgba(231, 76, 60,1.0)
}
